<main>
  <p-menu
    [model]="MENU_ITEMS"
    class="flex justify-center"
    styleClass="w-full md:w-60"
  >
    <ng-template #start>
      <div class="flex items-center justify-center">
        <i class="pi pi-bolt" style="font-size: 2rem"></i>
        <h1 class="p-3">Car Rental</h1>
      </div>
      <p-divider />
    </ng-template>

    <ng-template #item let-item>
      <a
        pRipple
        class="flex items-center p-menu-item-link font-bold"
        [routerLink]="item.routerLink"
      >
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>

    <ng-template #end>
      <p-divider />
      <div class="flex items-start p-3">
        <p-avatar
          class="mr-2"
          shape="circle"
          [textContent]="userAvatarText()"
          [pTooltip]="userDrivingInfo"
          severity="secondary"
          tooltipPosition="bottom"
        />

        <ng-template #userDrivingInfo>
          <span
            ><strong>Driving License</strong>:
            <small>{{ userProfile()?.drivingLicense }}</small></span
          >
          <br />
          <span
            ><strong>Expiry</strong>:
            <small>{{
              userProfile()?.drivingLicenseExpiry | date : DATE_FORMAT
            }}</small></span
          >
        </ng-template>
        <span class="flex content-between">
          <span>
            <small class="user-role"> {{ userProfile()?.role }} </small>
            <br/>
            <small>{{ userProfile()?.email }}</small>
          </span>
          <p-button
            class="ml-1"
            size="small"
            icon="pi pi-sign-out"
            [text]="true"
            [rounded]="true"
            (onClick)="signOut()"
          ></p-button>
        </span>
      </div>
    </ng-template>
  </p-menu>

  <router-outlet></router-outlet>
</main>

<footer>
  <small>Copyright &copy; 2023 - LongNd53</small>
</footer>
